body
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    background-color: #e9e9e9;
}

.topBar
{
    height: 48px;

    background-color: #212121;
}

.wrapper
{
    position: relative;

    padding-right: 10px;
    padding-left: 10px;
}

.bottomBar
{
    height: auto;
    padding-top: 50px;
    padding-bottom: 150px;

    text-align: center;

    color: white;
    background-color: #424242;
}


h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    /*font-weight: 200;*/
    font-weight: 400;

    margin: 0;
    margin-bottom: 10px;
    color: #C0392B;
}

h3{
    font-size: 16px;
    font-weight: 200;

    margin: 0;
    margin-bottom: 10px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;

    margin: 0;
    margin-bottom: 10px;
}


@media only screen and (min-width: 1024px){
    .wrapper
    {
        width: 1024px;
        margin: 0 auto;
    }
}

.mainContent
{
    min-height: 500px;
    margin-top: -72px;
    padding: 30px;

    background-color: #D8D8D8;
}

section{
    margin-bottom: 40px;
}

#mapCanvasHolder
{
    height: 400px;
}

#map-canvas
{
    height: 100%;
}

footer
{
    font-size: 11px;

    margin-top: 10px;
    margin-bottom: 30px;

    text-align: center;
}

